<div id="admincontent">

<h1 class="adminlink">Welcome to the Admin Center!</h1>
<br />
<h1 class="adminlink"><a href="admin/manage">Manage Events</a></h1>
<br />
<h1 class="adminlink"><a href="admin/board">Manage Board Members</a></h1>
<br />
<h1 class="adminlink"><a href="admin/albums">Manage Albums</a></h1>
<br />
<h1 class="adminlink"><a href="admin/newsform">Create Newsletter</a></h1>
<br />

</div>