	<div id="aboutheader">
		<div class="slidercover"><img class="slider" src="<%= asset_path 'events header.png' %>"></div>
		<div class="circle"><img src="<%= asset_path 'events circle.png' %>"></div>
	</div>

	<div id="aboutcontent">
		<div id="eventheader">
			<h1 class="eventtype">All</h1>
			<h1 class="eventtype">News</h1>
			<h1 class="eventtype">Social</h1>
			<h1 class="eventtype">Cultural</h1>
			<h1 class="eventtype">Community</h1>
			<h1 class="eventtype">Political</h1>

			<div id="eventnav">
				<p class="eventbutton">All</p>
				<p class="eventbutton">News</p>
				<p class="eventbutton">Social</p>
				<p class="eventbutton">Cultural</p>
				<p class="eventbutton">Community</p>
				<p class="eventbutton">Political</p>
			</div>
		</div>

		<div id="eventcontainer">
			<div id="eventcontent">
				<% @events.each do |category, events| %>
					<div class="eventsection">
						<% if events.any? %>
							<% events.each do |event| %>
								<%= render event %>
						  <% end %>
						<% else %>
							<h1 class="title">No events.</h1>
							<br />
						<% end %>
						<% if @totals[category] > 5 %>
							<a href="#" class="more" data-pos="5" data-category="<%= category %>"><p>Load More</p></a>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>