<div id="admincontent">

<h1 class="adminlink"><%= link_to 'New Event', new_event_path %></h1>
<br />
<br />

    <% @events.each do |event| %>
        <%= render event %>
    <% end %>
<%= will_paginate @events %>
<p class="contentnav"><a href="/admin">Back to Admin Center</a></p>

</div>